body {
  font-family: "Amiri", serif;
  direction: rtl;
  text-align: center;
  background-color: #ffe6f2;
  margin: 0;
}

header {
  background-color: #660b3f10;
  color: white;
  padding: 15px;
  border-bottom: 4px solid #d9a2be;
}

main {
  margin: 30px;
}

.quran-text {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  box-shadow: 0 0 10px #cccccc;
  font-size: 20px;
  line-height: 2;
  color: #4d0013;
}

footer {
  background-color: #660b25;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.back {
  display: inline-block;
  margin-top: 20px;
  background-color: #660b46;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}




.back:hover {
  background-color: #4d0923;
}


*{
    margin: 0;
    padding: 0;

}
body{
    background: #222222;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.crud{
    width: 80%;
    margin: auto;
}
.head
{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111111;
    margin: 4px 0;
    border-radius:4px;
    padding: 4px;
    color: #ffffff;
}
input:focus{
    background: #000000;
    transform : scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: #6b0c43;
    padding: 5px 2px;
    border-radius:4px;
}
#total::before{
    content: 'TOTAL:';
}
button{
    width:100%;
    height: 30px;
    border:none;
    cursor: pointer;
    background: #810e0e;
    color: #ffffff;
    border-radius: 20px;
    transition:0.5s;
}
button:hover{
    background: #ca1717;
    letter-spacing: 2px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
}
#deleteall{
    margin: 20px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}


